# Ignore all large data
**/Data/*
**/Processed Data/

# Allow timestamps
!Chronic Low Back Pain Study/Data/Eyes Timestamps/

# Ignore old code
Chronic Low Back Pain Study/Misc/
Chronic Low Back Pain Study/Notes/

# Ignore miscellaneous code and other repos
Code/Misc/
Code/eeg-erds-stats/
Code/eeg-unsup-pain-decoding/
Code/purdonlabmeeg
!Code/eeg_toolkit/

# Ignore folder of unrelated iEEG study
Postoperative Pain iEEG Study/

# Ignore gh token
gh*

# Ignore irrelevant folders
My*/

# Ignore vscode workspace and miscellaneous metafiles
George Kenefati.code-workspace
eeg-projects.code-workspace
mne.yaml
.DS_Store

# Ignore presentations
Presentations/
Chronic Low Back Pain Study/EEG Preprocessing Steps.docx
Chronic Low Back Pain Study/Code/Functional connectivity analysis/Connectivity circle/*.png
Chronic Low Back Pain Study/Code/Functional connectivity analysis/Connectivity circle/*.pdf